<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqldb_connection"
         connectionString="Data Source=tcp:cs467-groupx-server.database.windows.net,1433;Initial Catalog=cs467-groupx-database;Persist Security Info=False;User ID=azureusercs467;Password=fer7WR#639n!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>